<div id="kata-tutorial-step-idx-{{{id}}}" class="kata-tutorial-step-element kata-tutorial-step-hidden">
	<table>
		<tr>
			<td class="kata-tutorial-step-title" colspan="2">
				{{{header | }}}
			</td>
		</tr>
		<tr>
			<td class="kata-tutorial-step-content">{{{content | }}}</td>
			<td class="kata-tutorial-step-media">{{{media | }}}</td>
		</tr>
	</table>
</div>