@mixin kata-content {
	.kata-category-title,
	.kata-content {
		// border-top: 22px solid $sidebarBgColor;
		border-bottom: 10px solid $sidebarBgColor;
		margin-bottom: 10px;
		> h2 {
			margin: 9px 0px;
		}
	}

	.kata-content {
		padding-bottom: 20px;
	}

	/* following rules should be moved to section-specific source files */

	.organiser-resource .kata-category-title,
	.organiser-resource .kata-content {
		border-color: #61C93F;
	}

	.technical-resource .kata-category-title,
	.technical-resource .kata-content {
		border-color: #ED462F;
	}

	.ninja-resource .kata-category-title,
	.ninja-resource .kata-content
	{
		border-color: #FBCC33;
	}

}