@mixin kata-box() {
	.kata-box {
		margin-top: 2rem;
		.kata-box-title {
			background-color: $lightBg;
			padding: 3rem 2% 1rem;
		}
		.kata-box-content {
			background-color: $mediumBg;
			padding: 3rem 2% 1rem;
		}
	}
}